<%-include('../layout/clientHeader')-%>


    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container">
                        <div class="header-left">
                            <div class="header-dropdown">
                                <!-- End .header-menu -->
                            </div><!-- End .header-dropdown -->

                            <!-- End .header-dropdown -->
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <ul>
                                        <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                        <li><a href="contact.ejs">Contact Us</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" class="sf-with-ul">Home</a>


                                    </li>
                                    <li>
                                        <a href="category.ejs" class="sf-with-ul">Shop</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">Shop with sidebar</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-list.ejs">Shop List</a></li>
                                                                    <li><a href="category-2cols.ejs">Shop Grid 2
                                                                            Columns</a></li>
                                                                    <li><a href="category.ejs">Shop Grid 3 Columns</a>
                                                                    </li>
                                                                    <li><a href="category-4cols.ejs">Shop Grid 4
                                                                            Columns</a></li>
                                                                    <li><a href="category-market.ejs"><span>Shop
                                                                                Market<span
                                                                                    class="tip tip-new">New</span></span></a>
                                                                    </li>
                                                                </ul>

                                                                <div class="menu-title">Shop no sidebar</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-boxed.ejs"><span>Shop Boxed No
                                                                                Sidebar<span
                                                                                    class="tip tip-hot">Hot</span></span></a>
                                                                    </li>
                                                                    <li><a href="category-fullwidth.ejs">Shop Fullwidth
                                                                            No Sidebar</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->

                                                            <div class="col-md-6">
                                                                <div class="menu-title">Product Category</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="product-category-boxed.ejs">Product
                                                                            Category Boxed</a></li>
                                                                    <li><a href="product-category-fullwidth.ejs"><span>Product
                                                                                Category Fullwidth<span
                                                                                    class="tip tip-new">New</span></span></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="menu-title">Shop Pages</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="/cartView">Cart</a></li>
                                                                    <li><a href="checkout.ejs">Checkout</a></li>
                                                                    <li><a href="wishlist.ejs">Wishlist</a></li>
                                                                    <li><a href="dashboard.ejs">My Account</a></li>
                                                                    <li><a href="#">Lookbook</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.ejs" class="banner banner-menu">
                                                            <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last
                                                                    <br>Chance<br><span><strong>Sale</strong></span>
                                                                </div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </li>
                                    <li>
                                        <a href="product.ejs" class="sf-with-ul">Product</a>

                                        <div class="megamenu megamenu-sm">
                                            <div class="row no-gutters">
                                                <div class="col-md-6">
                                                    <div class="menu-col">
                                                        <div class="menu-title">Product Details</div>
                                                        <!-- End .menu-title -->
                                                        <ul>
                                                            <li><a href="product.ejs">Default</a></li>
                                                            <li><a href="product-centered.ejs">Centered</a></li>
                                                            <li><a href="product-extended.ejs"><span>Extended Info<span
                                                                            class="tip tip-new">New</span></span></a>
                                                            </li>
                                                            <li><a href="product-gallery.ejs">Gallery</a></li>
                                                            <li><a href="product-sticky.ejs">Sticky Info</a></li>
                                                            <li><a href="product-sidebar.ejs">Boxed With Sidebar</a>
                                                            </li>
                                                            <li><a href="product-fullwidth.ejs">Full Width</a></li>
                                                            <li><a href="product-masonry.ejs">Masonry Sticky Info</a>
                                                            </li>
                                                        </ul>
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.ejs">
                                                            <img src="assets/images/menu/banner-2.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-bottom">
                                                                <div class="banner-title text-white">New
                                                                    Trends<br><span><strong>spring 2019</strong></span>
                                                                </div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner -->
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-sm -->
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">Pages</a>

                                        <ul>
                                            <li>
                                                <a href="about.ejs" class="sf-with-ul">About</a>

                                                <ul>
                                                    <li><a href="about.ejs">About 01</a></li>
                                                    <li><a href="about-2.ejs">About 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.ejs" class="sf-with-ul">Contact</a>

                                                <ul>
                                                    <li><a href="contact.ejs">Contact 01</a></li>
                                                    <li><a href="contact-2.ejs">Contact 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="login.ejs">Login</a></li>
                                            <li><a href="faq.ejs">FAQs</a></li>
                                            <li><a href="404.ejs">Error 404</a></li>
                                            <li><a href="coming-soon.ejs">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li>

                                        <ul>
                                            <li>
                                                <a href="#">Grid</a>
                                                <ul>
                                                    <li><a href="blog-grid-2cols.ejs">Grid 2 columns</a></li>
                                                    <li><a href="blog-grid-3cols.ejs">Grid 3 columns</a></li>
                                                    <li><a href="blog-grid-4cols.ejs">Grid 4 columns</a></li>
                                                    <li><a href="blog-grid-sidebar.ejs">Grid sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Masonry</a>
                                                <ul>
                                                    <li><a href="blog-masonry-2cols.ejs">Masonry 2 columns</a></li>
                                                    <li><a href="blog-masonry-3cols.ejs">Masonry 3 columns</a></li>
                                                    <li><a href="blog-masonry-4cols.ejs">Masonry 4 columns</a></li>
                                                    <li><a href="blog-masonry-sidebar.ejs">Masonry sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Mask</a>
                                                <ul>
                                                    <li><a href="blog-mask-grid.ejs">Blog mask grid</a></li>
                                                    <li><a href="blog-mask-masonry.ejs">Blog mask masonry</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Single Post</a>
                                                <ul>
                                                    <li><a href="single.ejs">Default with sidebar</a></li>
                                                    <li><a href="single-fullwidth.ejs">Fullwidth no sidebar</a></li>
                                                    <li><a href="single-fullwidth-sidebar.ejs">Fullwidth with
                                                            sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <div class="header-search">
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                            <div class="dropdown compare-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static"
                                    title="Compare Products" aria-label="Compare Products">
                                    <i class="icon-random"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="compare-products">
                                        <li class="compare-product">
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                            <h4 class="compare-product-title"><a href="product.ejs">Blue Night Dress</a>
                                            </h4>
                                        </li>
                                        <li class="compare-product">
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                            <h4 class="compare-product-title"><a href="product.ejs">White Long Skirt</a>
                                            </h4>
                                        </li>
                                    </ul>

                                    <div class="compare-actions">
                                        <a href="#" class="action-link">Clear All</a>
                                        <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .compare-dropdown -->

                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.ejs">Beige knitted elastic runner shoes</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $84.00
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.ejs" class="product-image">
                                                    <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                        </div><!-- End .product -->

                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.ejs">Blue utility pinafore denim dress</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $76.00
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.ejs" class="product-image">
                                                    <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                        </div><!-- End .product -->
                                    </div><!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>Total</span>

                                        <span class="cart-total-price">$160.00</span>
                                    </div><!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="/cartView" class="btn btn-primary">View Cart</a>
                                        <a href="checkout.ejs" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .cart-dropdown -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->

            <main class="main">
                <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">404</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="error-content text-center"
                    style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
                    <div class="container">
                        <h1 class="error-title">Error 404</h1><!-- End .error-title -->
                        <p>We are sorry, the page you've requested is not available.</p>
                        <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                            <span>BACK TO HOMEPAGE</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .container -->
                </div><!-- End .error-content text-center -->
            </main><!-- End .main -->

            <footer class="footer">
                <div class="footer-middle border-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                        height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                        vulputate magna eros eu erat. </p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                                class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="about.ejs">About Molla</a></li>
                                        <li><a href="#">How to shop on Molla</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="contact.ejs">Contact us</a></li>
                                        <li><a href="login.ejs">Log in</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="cart.ejs">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.ejs">Home</a>

                            <ul>
                                <li><a href="index-1.ejs">01 - furniture store</a></li>
                                <li><a href="index-2.ejs">02 - furniture store</a></li>
                                <li><a href="index-3.ejs">03 - electronic store</a></li>
                                <li><a href="index-4.ejs">04 - electronic store</a></li>
                                <li><a href="index-5.ejs">05 - fashion store</a></li>
                                <li><a href="index-6.ejs">06 - fashion store</a></li>
                                <li><a href="index-7.ejs">07 - fashion store</a></li>
                                <li><a href="index-8.ejs">08 - fashion store</a></li>
                                <li><a href="index-9.ejs">09 - fashion store</a></li>
                                <li><a href="index-10.ejs">10 - shoes store</a></li>
                                <li><a href="index-11.ejs">11 - furniture simple store</a></li>
                                <li><a href="index-12.ejs">12 - fashion simple store</a></li>
                                <li><a href="index-13.ejs">13 - market</a></li>
                                <li><a href="index-14.ejs">14 - market fullwidth</a></li>
                                <li><a href="index-15.ejs">15 - lookbook 1</a></li>
                                <li><a href="index-16.ejs">16 - lookbook 2</a></li>
                                <li><a href="index-17.ejs">17 - fashion store</a></li>
                                <li><a href="index-18.ejs">18 - fashion store (with sidebar)</a></li>
                                <li><a href="index-19.ejs">19 - games store</a></li>
                                <li><a href="index-20.ejs">20 - book store</a></li>
                                <li><a href="index-21.ejs">21 - sport store</a></li>
                                <li><a href="index-22.ejs">22 - tools store</a></li>
                                <li><a href="index-23.ejs">23 - fashion left navigation store</a></li>
                                <li><a href="index-24.ejs">24 - extreme sport store</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.ejs">Shop</a>
                            <ul>
                                <li><a href="category-list.ejs">Shop List</a></li>
                                <li><a href="category-2cols.ejs">Shop Grid 2 Columns</a></li>
                                <li><a href="category.ejs">Shop Grid 3 Columns</a></li>
                                <li><a href="category-4cols.ejs">Shop Grid 4 Columns</a></li>
                                <li><a href="category-boxed.ejs"><span>Shop Boxed No Sidebar<span
                                                class="tip tip-hot">Hot</span></span></a></li>
                                <li><a href="category-fullwidth.ejs">Shop Fullwidth No Sidebar</a></li>
                                <li><a href="product-category-boxed.ejs">Product Category Boxed</a></li>
                                <li><a href="product-category-fullwidth.ejs"><span>Product Category Fullwidth<span
                                                class="tip tip-new">New</span></span></a></li>
                                <li><a href="cart.ejs">Cart</a></li>
                                <li><a href="checkout.ejs">Checkout</a></li>
                                <li><a href="wishlist.ejs">Wishlist</a></li>
                                <li><a href="#">Lookbook</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="product.ejs" class="sf-with-ul">Product</a>
                            <ul>
                                <li><a href="product.ejs">Default</a></li>
                                <li><a href="product-centered.ejs">Centered</a></li>
                                <li><a href="product-extended.ejs"><span>Extended Info<span
                                                class="tip tip-new">New</span></span></a></li>
                                <li><a href="product-gallery.ejs">Gallery</a></li>
                                <li><a href="product-sticky.ejs">Sticky Info</a></li>
                                <li><a href="product-sidebar.ejs">Boxed With Sidebar</a></li>
                                <li><a href="product-fullwidth.ejs">Full Width</a></li>
                                <li><a href="product-masonry.ejs">Masonry Sticky Info</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.ejs">About</a>

                                    <ul>
                                        <li><a href="about.ejs">About 01</a></li>
                                        <li><a href="about-2.ejs">About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.ejs">Contact</a>

                                    <ul>
                                        <li><a href="contact.ejs">Contact 01</a></li>
                                        <li><a href="contact-2.ejs">Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.ejs">Login</a></li>
                                <li><a href="faq.ejs">FAQs</a></li>
                                <li><a href="404.ejs">Error 404</a></li>
                                <li><a href="coming-soon.ejs">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.ejs">Blog</a>

                            <ul>
                                <li><a href="blog.ejs">Classic</a></li>
                                <li><a href="blog-listing.ejs">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.ejs">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.ejs">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.ejs">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.ejs">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.ejs">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.ejs">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.ejs">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.ejs">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.ejs">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.ejs">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.ejs">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.ejs">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.ejs">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.ejs">Elements</a>
                            <ul>
                                <li><a href="elements-products.ejs">Products</a></li>
                                <li><a href="elements-typography.ejs">Typography</a></li>
                                <li><a href="elements-titles.ejs">Titles</a></li>
                                <li><a href="elements-banners.ejs">Banners</a></li>
                                <li><a href="elements-product-category.ejs">Product Category</a></li>
                                <li><a href="elements-video-banners.ejs">Video Banners</a></li>
                                <li><a href="elements-buttons.ejs">Buttons</a></li>
                                <li><a href="elements-accordions.ejs">Accordions</a></li>
                                <li><a href="elements-tabs.ejs">Tabs</a></li>
                                <li><a href="elements-testimonials.ejs">Testimonials</a></li>
                                <li><a href="elements-blog-posts.ejs">Blog Posts</a></li>
                                <li><a href="elements-portfolio.ejs">Portfolio</a></li>
                                <li><a href="elements-cta.ejs">Call to Action</a></li>
                                <li><a href="elements-icon-boxes.ejs">Icon Boxes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Sign in / Register Modal -->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-close"></i></span>
                        </button>

                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                            role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register"
                                            role="tab" aria-controls="register" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tab-content-5">
                                    <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                        aria-labelledby="signin-tab">
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="singin-email">Username or email address *</label>
                                                <input type="text" class="form-control" id="singin-email"
                                                    name="singin-email" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="singin-password">Password *</label>
                                                <input type="password" class="form-control" id="singin-password"
                                                    name="singin-password" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>LOG IN</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="signin-remember">
                                                    <label class="custom-control-label" for="signin-remember">Remember
                                                        Me</label>
                                                </div><!-- End .custom-checkbox -->

                                                <a href="#" class="forgot-link">Forgot Your Password?</a>
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-choice -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="register" role="tabpanel"
                                        aria-labelledby="register-tab">
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="register-email">Your email address *</label>
                                                <input type="email" class="form-control" id="register-email"
                                                    name="register-email" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="register-password">Password *</label>
                                                <input type="password" class="form-control" id="register-password"
                                                    name="register-password" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>SIGN UP</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="register-policy" required>
                                                    <label class="custom-control-label" for="register-policy">I agree to
                                                        the <a href="#">privacy policy</a> *</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login  btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-choice -->
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .form-tab -->
                        </div><!-- End .form-box -->
                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->

        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>


    <!-- molla/404.ejs  22 Nov 2019 10:04:04 GMT -->
    </ejs>