<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .form-container {
        background-color: #f2f2f2;
        width: 40%;
        padding: 20px;
        color: #333;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container p {
        margin-bottom: 10px;
    }

    .form-container input[type="text"],
    .form-container input[type="submit"] {
        width: calc(100% - 22px);
        /* Adjusting for padding */
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        /* Ensure padding and border included in width */
        font-size: 16px;
    }

    .form-container input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-container input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<div class="form-container" style="margin-left: 20pc;">
    <form action="/forgotPassword" method="post">
        <p>Please enter your email:</p>
        <input type="text" name="email" onkeydown="emailCheck(this)" placeholder="Your email address" required>
        <p id="validate" style="display: none; color: red;">Enter the validate email</p>
        <p id="checkmail" style="display: none; color: red;">The email is not exist</p>


    </form>
</div>
<script>
    function emailCheck(input){
       
        const email = input.value.trim()
        
        const validate = document.getElementById('validate')
        const checkmail = document.getElementById('checkmail')
        validate.style.display="none"
        checkmail.style.display='none'

        if(/[A-Za-z0-9._%+-]+@gmail.com$/.test(email)){
            checkmail.style.display='none'

            validate.style.display="none"
            fetch('/forgotPassword',{
                method:"POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            }).then(res => res.json()).then(data => {
                if (data.status == true) {
                    console.log("dsijrsfuiodkjmwfsdkjmwrudfjj")
                    window.location.href=`/forgotOtpPage?email=${email}`
                }else if(data.status==false){
                    checkmail.style.display='block'
                }})
            }else{
                validate.style.display="block"
                checkmail.style.display='none'
            }
            }
        </script>
</body>

</html>