<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .form-container {
        background-color: #f2f2f2;
        width: 40%;
        padding: 20px;
        color: #333;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container p {
        margin-bottom: 10px;
    }

    .form-container input[type="text"],
    .form-container input[type="submit"] {
        width: calc(100% - 22px);
        /* Adjusting for padding */
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        /* Ensure padding and border included in width */
        font-size: 16px;
    }

    .form-container input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-container input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<div class="form-container">
    <form action="/forgotPassword" method="post">
        <p>Please enter your email:</p>
        <input type="text" name="email" placeholder="Your email address" required>
        <input type="submit" value="Submit">
    </form>
</div>

</body>

</html>