<%-include('../layout/clientHeader')-%>


    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container">
                        <div class="header-left">
                            <div class="header-dropdown">
                                <a href="#">Usd</a>
                                <div class="header-menu">
                                    <ul>
                                        <li><a href="#">Eur</a></li>
                                        <li><a href="#">Usd</a></li>
                                    </ul>
                                </div><!-- End .header-menu -->
                            </div><!-- End .header-dropdown -->
    
                            <div class="header-dropdown">
                                <a href="#">Eng</a>
                                <div class="header-menu">
                                    <ul>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </div><!-- End .header-menu -->
                            </div><!-- End .header-dropdown -->
                        </div><!-- End .header-left -->
    
                        <div class="header-right">
                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <ul>
                                        <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-top -->
    
                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left" >
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>
    
                            <a href="/" class="logo">
                                <img src="assets/images/logo.png" style="margin-left: 520px;" alt="Molla Logo" width="105" height="25">
                            </a>
    
                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                  
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->
    
                        <div class="header-right">
                           
                       
    
                           
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->

            <main class="main">
                <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                    style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
                    <div class="container">
                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="register-tab-2" data-toggle="tab"
                                            href="#register-2" role="tab" aria-controls="register-2"
                                            aria-selected="true">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Sign In Tab -->
                                    <div class="tab-pane fade" id="signin-2" role="tabpanel"
                                        aria-labelledby="signin-tab-2">

                                    </div><!-- End .tab-pane -->

                                    <!-- Register Tab -->
                                    <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                                        aria-labelledby="register-tab-2">
                                        <form action="/register" method="post">
                                            <div class="form-group">
                                                <label for="register-fname">Username*</label>
                                                <input type="text" onkeyup="thedata(this)" class="form-control" id="register-fname"
                                                    name="name" required>
                                                    <script>
                                                        function thedata(tag){
                                                            const input = tag.value.trim()
                                                        console.log
                                                            console.log(input)
                                                            if(input.length>4){
                                                                console.log("dslkj")
                                                                const signbutton = document.getElementById('signUp1')
                                                                fetch('/CheckUserName',{
                                                                    method:'POST',
                                                                    headers:{'Content-Type':'application/json'},
                                                                    body:JSON.stringify({input})
                                                                }).then(res=>res.json()).then(data=>{
                                                                    if(data.status==true){
                                                                        signbutton.disabled=false
                                                                        console.log("1111111111111111111111111")
                                                                        tag.style.color='#777'
                                                                    }else if(data.status==false){
                                                                        signbutton.disabled=true
                                                                        console.log("sdkfisdkjmifdkjk")
                                                                        tag.style.color='red'
                                                                    }
                                                                })

                                                            }

                                                        }
                                                    </script>
                                            </div><!-- End .form-group -->

                               
                                            
                                            <div class="form-group">
                                                <label for="register-email-2">Your email address *</label>
                                                <input type="email" class="form-control" id="register-email-2"
                                                name="email" required>
                                            </div><!-- End .form-group -->
                                            
                                                                                    

                                            <div class="form-group">
                                                <label for="register-password-2">Password *</label>
                                                <input onkeyup="checkPassword(this)" type="password" class="form-control" id="register-password-2"
                                                    name="password" required>
                                                    <p id="passwordCriteria">
                                                        <span id="uppercase">Uppercase</span>
                                                        <span id="lowercase">Lowercase</span>
                                                        <span id="numbers">0-9</span>
                                                        <span id="specialChars">!-$</span>
                                                    </p>                                                    



                                                    <p style="color: red; display: none;" id="error"><b>Enter strong password</b></p>

                                            </div><!-- End .form-group -->
                                            <div class="form-group">
                                                <label for="register-password-2">Confirm password *</label>
                                                <input onkeyup="checkConform(this)" type="password" class="form-control" id="formPassword"
                                                    name="confirm password" required>
                                                    <p style="color: red; display: none;" id="conform"><b>Confirm password is not match</b></p>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="register-password-2">Reffer Id *</label>
                                                        <input  type="text" class="form-control" id="refferId"
                                                            name="referralCode" >
        
                                                            </div>
                                            <div class="form-footer">
                                                <button type="submit" id="signUp1" class="btn btn-outline-primary-2">
                                                    <span>SIGN UP</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <a href="/">already have account</a>
                                        <% if(error) { %>
                                            <p>
                                                <%= error %>
                                            </p>
                                            <% } %>
                                    </div><!-- End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
        </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
<script>
  function  checkPassword(val){




    input = val.value.trim()
    if(input.length >0){

        const checkedResult=isStrongPassword(input)
        
    const error = document.getElementById('error')
    const signbutton = document.getElementById('signUp1')
    if(checkedResult===true){
        signbutton.disabled=false
        error.style.display="none"

    }else{
        signbutton.disabled=true
        error.style.display="block"
        
    }
    
    function isStrongPassword(password) {
        
        const minLength = 8; 
        const hasUppercase = /[A-Z]/.test(password);
        const hasLowercase = /[a-z]/.test(password);
        const hasNumbers = /[0-9]/.test(password);
        const hasSpecialChars = /[!@#$%^&*()_\-+=<>?]/.test(password);
        document.getElementById("uppercase").style.color = hasUppercase ? "green" : "red";
        document.getElementById("lowercase").style.color = hasLowercase ? "green" : "red";
        document.getElementById("numbers").style.color = hasNumbers ? "green" : "red";
        document.getElementById("specialChars").style.color = hasSpecialChars ? "green" : "red";
        
        return (
            password.length >= minLength &&
            hasUppercase &&
            hasLowercase &&
            hasNumbers &&
            hasSpecialChars
            );
        }
        
        
        
        
    }else{

    }
    }
</script>
<script>
    function checkConform(inputTag){
        const input = inputTag.value.trim()
        const signbutton = document.getElementById('signUp1')
        const password = document.getElementById('register-password-2').value.trim()
        if(password!=input){
            document.getElementById('conform').style.display="block"
            signbutton.disabled=true
        }else{
            document.getElementById('conform').style.display="none"
            signbutton.disabled=false
        }
        console.log(input)

        
    }
</script>
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>



                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="/">Home</a>



                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.html">About</a>

                                    <ul>
                                        <li><a href="about.html">About 01</a></li>
                                        <li><a href="about-2.html">About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>

                                    <ul>
                                        <li><a href="contact.html">Contact 01</a></li>
                                        <li><a href="contact-2.html">Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav><!-- End .mobile-nav -->

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Sign in / Register Modal -->


        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>


    <!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

    </html>