<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Enter the new password</p>
    <form action="/passwordUpdate" method="post">
        <input type="hidden" id="email" name="email"  value="<%=email  %>">
        <input type="password" name="password" required>

        <input type="submit" ">
    </form>

<script>
    abc()
    function abc() {
        const email = document.getElementById("email").value
        
        console.log(email)
    }
</script>
</body>

</html>