<div class="header-middle sticky-header">
    <div class="container">
        <div class="header-left">
            <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
            </button>
<a href="/" class="logo">
    <img src="/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
</a>
<nav class="main-nav">
    <ul class="menu sf-arrows">
        <li class="megamenu-container active">
            <a href="/" class="sf-with-ul">Home</a>

            <!-- End .megamenu -->
        </li>
        <li>
            <a href="category.html" class="sf-with-ul">Shop</a>

            <div class="megamenu megamenu-md">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="menu-col">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="menu-title">Shop with sidebar</div>
                                    <!-- End .menu-title -->
                                    <ul>
                                        <li><a href="category-list.html">Shop List</a></li>
                                        <li><a href="category-2cols.html">Shop Grid 2
                                                Columns</a></li>
                                        <li><a href="category.html">Shop Grid 3 Columns</a>
                                        </li>
                                        <li><a href="category-4cols.html">Shop Grid 4
                                                Columns</a></li>
                                        <li><a href="category-market.html"><span>Shop
                                                    Market<span
                                                        class="tip tip-new">New</span></span></a>
                                        </li>
                                    </ul>

                                    <div class="menu-title">Shop no sidebar</div>
                                    <!-- End .menu-title -->
                                    <ul>
                                        <li><a href="category-boxed.html"><span>Shop Boxed
                                                    No Sidebar<span
                                                        class="tip tip-hot">Hot</span></span></a>
                                        </li>
                                        <li><a href="category-fullwidth.html">Shop Fullwidth
                                                No Sidebar</a></li>
                                    </ul>
                                </div><!-- End .col-md-6 -->

                                <div class="col-md-6">
                                    <div class="menu-title">Product Category</div>
                                    <!-- End .menu-title -->
                                    <ul>
                                        <li><a href="product-category-boxed.html">Product
                                                Category Boxed</a></li>
                                        <li><a href="product-category-fullwidth.html"><span>Product
                                                    Category Fullwidth<span
                                                        class="tip tip-new">New</span></span></a>
                                        </li>
                                    </ul>
                                    <div class="menu-title">Shop Pages</div>
                                    <!-- End .menu-title -->
                                    <ul>
                                        <li><a href="/cartView">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="dashboard.html">My Account</a></li>
                                        <li><a href="#">Lookbook</a></li>
                                    </ul>
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .menu-col -->
                    </div><!-- End .col-md-8 -->

                    <div class="col-md-4">
                        <div class="banner banner-overlay">
                            <a href="category.html" class="banner banner-menu">
                                <img src="/assets/images/menu/banner-1.jpg" alt="Banner">

                                <div class="banner-content banner-content-top">
                                    <div class="banner-title text-white">Last
                                        <br>Chance<br><span><strong>Sale</strong></span>
                                    </div><!-- End .banner-title -->
                                </div><!-- End .banner-content -->
                            </a>
                        </div><!-- End .banner banner-overlay -->
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
            </div><!-- End .megamenu megamenu-md -->
        </li>
        <li>
            <a href="/product" class="sf-with-ul">Product</a>

            <div class="megamenu megamenu-sm">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="menu-col">
                            <div class="menu-title">Product Details</div>
                            <!-- End .menu-title -->
                            <ul>
                                <li><a href="product.html">Default</a></li>
                                <li><a href="product-centered.html">Centered</a></li>
                                <li><a href="product-extended.html"><span>Extended Info<span
                                                class="tip tip-new">New</span></span></a>
                                </li>
                                <li><a href="product-gallery.html">Gallery</a></li>
                                <li><a href="product-sticky.html">Sticky Info</a></li>
                                <li><a href="product-sidebar.html">Boxed With Sidebar</a>
                                </li>
                                <li><a href="product-fullwidth.html">Full Width</a></li>
                                <li><a href="product-masonry.html">Masonry Sticky Info</a>
                                </li>
                            </ul>
                        </div><!-- End .menu-col -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="category.html">
                                <img src="/assets/images/menu/banner-2.jpg" alt="Banner">

                                <div class="banner-content banner-content-bottom">
                                    <div class="banner-title text-white">New
                                        Trends<br><span><strong>spring 2019</strong></span>
                                    </div><!-- End .banner-title -->
                                </div><!-- End .banner-content -->
                            </a>
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .megamenu megamenu-sm -->
        </li>
        <li>
            <a href="#" class="sf-with-ul">Pages</a>

            <ul>
                <li>
                    <a href="about.html" class="sf-with-ul">About</a>

                    <ul>
                        <li><a href="about.html">About 01</a></li>
                        <li><a href="about-2.html">About 02</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html" class="sf-with-ul">Contact</a>

                    <ul>
                        <li><a href="contact.html">Contact 01</a></li>
                        <li><a href="contact-2.html">Contact 02</a></li>
                    </ul>
                </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="404.html">Error 404</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
            </ul>
        </li>


    </ul><!-- End .menu -->
</nav><!-- End .main-nav -->
</div><!-- End .header-left -->

<div class="header-right">
    <div class="header-search">
        <a href="#" class="search-toggle" role="button" title="Search"><i
                class="icon-search"></i></a>
        <form action="/product" method="get">
            <div class="header-search-wrapper">
                <label for="q"  class="sr-only">Search</label>
                <input type="search" class="form-control" name="q" id="myInput"
                     placeholder="Search in..." required>
            </div><!-- End .header-search-wrapper -->
        </form>
    </div><!-- End .header-search -->